<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body background="/img/img1.jpg" style="background-repeat: no-repeat; background-size: cover;">
    <div class="main-content">

        {{>header}}
        <h3 style="color:black;">{{appinfo}}</h3>
        <img class="portrait" src="/img/me.jpg">
        <h3 style="color:black;">{{name}}</h3>
        <h3 style="color:black;">{{info}}</h3>
    </div>
    
    {{>footer}}
</body>

</html>